
{% extends 'base.html' %}
{% load static %}
{% block body %}
  

		<main class="content">
			<section class="panel">
				<div class="recentslider row" style="margin: 15px;">
					{% if request.user.is_authenticated %}
                      <p class="alert alert-success alert-sm">Hello {{request.user}} </p>


					{% endif %}
					
				</div>
			</section>

			<section class="panel">
				<div style="margin: 15px;">
					<h2>Most Watched</h2>
					<div class="mostslider">
						<div class="swiper-container">
							<div class="swiper-wrapper row">
									{% for chunks in most_watched %} 
									<div class="col-md-4">
										<a href="#"><img src="{{chunks.image.url}}" class="img-thumbnail"><h4 class="hometitle">{{chunks.title}}</h4></a>
									</div>
									{% endfor %}
							</div>
							<!-- Add Pagination -->
						</div>
					</div>
				</div>
			</section>

			<section class="panel">
				<h2>Top Rated</h2>
				<div class="topslider">
					<div class="swiper-container">
						<div class="swiper-wrapper row">
							{% for chunks in top_rated %} 
							<div class="col-md-3">
								<a href="#"><img src="{{chunks.image.url}}" class="img-thumbnail"><h4 class="hometitle">{{chunks.title}}</h4></a>
							</div>
							{% endfor %}
						</div>
						<!-- Add Pagination -->
					</div>
				</div>
			</section>

			
		</main>
           <a href="{% url 'logout' %}" class="btn btn-dark btn-block btn-sm m-1">Logout</a>
        {% endblock body %}

		